*
{
  margin:0;
  padding:0;
}
.itlabs
{
  background-color:#090909 ;
}
.active
{
  color: #B4E925;
}
.Cardblock
{
  background-color: #16111C;
  border:1px solid #644091;
}
.list-icons
{
  background-color: #16111C;
  border:1px solid #644091;
}
@media (max-width: 448px)
{
  .nav-m{
    background-color: #090909 ;
  }
  ul.nav-m
  {
    text-align: center;
  }
}
